*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#wpp{
    position:absolute;
    width:100%;
    height:100%;
    background-image: url("../images/granulado-colorido.jpg");
    background-position: center;
    background-size: cover;
    z-index:-1;
}



/* @keyframes jingado {
    0%{
        transform:rotate(0);
    }
    50%
    {
        transform:rotate(181deg);
    }
} */

.topo{
    height:50px;
    background-color: palevioletred;
    display:flex;
    justify-content: center;
    align-items:center;
}
.topo h1{
    font-family:'Press Start 2P', cursive;
    font-size:36px;
    color:palegreen;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 40px;
}

.container{
    width:90%;
    max-width: 800px;
    height:auto;
    background-color: white;
    margin:auto;
    border-radius: 20px;
    box-shadow: 0px 0px 45px #F06292;
    padding: 30px;
}
.container-int{
    margin:auto;
}
/* CARDS IMAGENS DO GAME */
.game-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game-cardsinfo{
    width: 140px;
    height:140px;
    margin: 10px;
    position:relative;
}
.game-cardsinfo img{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    left:0;
    top:0;
}